*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noir', sans-serif;
    font-family: 'Nexa', sans-serif;
                                                
}
body{
    background: black;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(2,6,25,0.2),rgba(2,6,25,0.2)),url(qw.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 3% 6%;
    justify-content: space-between;
    align-items: center;
    
} 
nav img {
  width: 70px;
}

.nav-links {
  flex: 1;
  text-align: right;
  position:absolute;
  top: 6%;
  left: 69%;
  transition: left 0.4s ease-in-out;
}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 7px;
    position: relative;
    
}
.nav-links ul li a{
    font-family: 'Noir', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #DADBDD;
    display: block;
    margin: auto;
    transition: 0.4s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    font-family: 'Nexa';
    width: 50%;
    color: white;
    position: absolute;
    padding: 90px;
}
.text-box p{
    font-size: 13px;
    top: 3px;
    position: relative;
    color: lightgray;
}
.container{
    position: relative;
    left:-64%;
    top:280px;
    width: 398px;

}
.container .text{
    position: relative;
    color:white;
    font-family: 'Nexa';
    text-shadow: 0 0 10px white, 0 0 20px white;
    font-size: 40px;
    font-weight: 600;
}
.container .text.f-txt{
    color:lightgrey;
    text-shadow: none;
    
}
.text.s-txt:before{
    content: "";
    position: absolute;
    top:-7.5px;
    left:0;
    background-color: black;
    height: 120%;
    width: 110%;
    opacity: 100%;
    border-left:1px solid white;
    animation: animate 2s steps(20) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left:0%;
    }
}
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
.preloader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0s infinite linear alternate;
          animation: blur-text 1s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.1s infinite linear alternate;
          animation: blur-text 1s 0.1s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.2s infinite linear alternate;
          animation: blur-text 1s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.3s infinite linear alternate;
          animation: blur-text 1s 0.3s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.4s infinite linear alternate;
          animation: blur-text 1s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.5s infinite linear alternate;
          animation: blur-text 1s 0.5s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.6s infinite linear alternate;
          animation: blur-text 1s 0.6s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

.main{
    left: -6px;
    top: 80px;
    position: relative;
}
.main-b{
    position: relative;
    color: lightgray;
    width: 50%;
    font-size: 14px;
    top: 170px;
    left: 150px;
}
.main-2{
    position: relative;
    color: lightgray;
    width: 50%;
    font-size: 14px;
    top: 190px;
    left: 150px;
}
.main-3{
    position: relative;
    color: lightgray;
    width: 50%;
    font-size: 14px;
    top: 210px;
    left: 150px;
}
.events{
    color: white;
    position: relative;
    top: 0px;
    width: 0%;
    left: 10%;
    padding: 10px 600px;
    font-size: 20px;
    border: 0.2px solid gray;
    border-radius: 7px;
    height: 15px;
    backdrop-filter: blur(20px);
}
.hero-btn {
    position: relative;
    top: 50px;
    left: 150px;
    width: 75%;
    height: 90px;
    display: inline-block;
    font-size: 14px;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    border-bottom: 0.5px solid gray;
    padding: 12px 34px;
    background: transparent;
    margin: 0 auto;
    cursor: pointer;
    transition: border 0.9s, background 0.9s, color 0.9s;
}

.hero-btn:hover {
    border: 1px solid #DADBDD;
    background: #DADBDD;
    color: black;
}

.fa-solid{
    font-size: 45px;
    top: 20px;
    position: relative;
}
.hero-btn h2{
    position: relative;
    left: 70px;
    top: -40px;
    font-size: large;
}
.hero-btn p{
    position: relative;
    left: 70px;
    top: -35px;
    font-size: 13px;
}
.hero-btn p2{
    position: relative;
    left: 70px;
    top: -35px;
    font-size: 13px;
}
.hero-btn p3{
    position: relative;
    left: -123px;
    top: -16px;
    font-size: 13px;
}
.hero-btn2{
    position: relative;
    top: 70px;
    left: 150px;
    width: 75%;
    height: 90px;
    display: inline-block;
    font-size: 14px;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    border-bottom: 0.5px solid gray;
    padding: 12px 34px;
    background: transparent;
    position: center;
    cursor: pointer;
    transition: border 0.9s, background 0.9s, color 0.9s;
}
.hero-btn2:hover{
    border: 1px solid #DADBDD;
    background: #DADBDD;
    color: black;
}
.fa-solid.fa-location-dot{
    font-size: 45px;
    top: 20px;
    position: relative;
}
.hero-btn2 h3{
    position: relative;
    left: 70px;
    top: -30px;
    font-size: large;
}
.hero-btn2 p4{
    position: relative;
    left: 70px;
    top: -25px;
    font-size: 13px;
}
.hero-btn2 p5{
    position: relative;
    left: -70px;
    top: -7px;
    font-size: 13px;
}
.hero-btn2 p6{
    position: relative;
    left: -240px;
    top: 10px;
    font-size: 13px;
}
.footer{
    width: 100%;
    top: 80px;
    height: 60vh;
    position: relative; 
    overflow: hidden;
    position: relative;
}
.footer .imagexr{
    position: relative;
    left:4.5%;
    top: 130px;
    width: 60px;
    height: 30px;}
.footer .imagexr img{
    z-index: 111;
    position: relative;
    top: 40%;
    left:20%;
    width: 140%;
    height: 140%; 
}
.text-box7{
    color:white;
    text-align: left;
    font-family: 'Nexa';
    position: relative;
    left: 12%;
    top: 105px;
    width: 340px;
   
}
.text-box7 h7{
    font-size: 12px;
    font-family: 'Nexa';
    color:lightgrey

}
.media{
    list-style: none;
    display: flex;
    margin: 0rem 0 0rem 0;
    align-items: left;
    justify-content: left;
    position: relative;
    left: -35%;
    top: 70px;
}
.media li{
    margin: 0 12px;
    cursor: pointer;
}
.media a{
    text-decoration: none;
    color: white;
}
.media a i{
    font-size: 27px;
    transform: color 0.6s ease;
}
.media a:hover i{
    color: #56B7F5;
    opacity: 90%;
    transition: 0.4s;
}
.bottom-footer{
    color: lightgray;
    position: relative;
    font-size: 12px;
    align-items: center;
    text-align: center;

}
.email-box {
    position: absolute;
    top: 200px;
    right: 74.5%;
    transform: translate(-3%, 10%);
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 30px;
    z-index: 111;
    border-radius: 10px;
    object-fit: cover;
    width:20%;
    
  }
  .email-btn {
    color: white;
    float: right;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  
  .email-txt {
    border: none;
    background: transparent;
    outline: none;
    float: left;
    position: center;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    line-height: 35px;
    width: 100%;
  }
  .contact{
    color:white;
    position: relative;
    left: 55%;
    top:-155px;
    text-align: left;
    align-items: left;
    list-style: none;
    overflow: hidden;
}
.contact h10{
    font-size: 16px;
}
.contact a{
    text-decoration: none;
    color: white;
    position: relative;
    top:5px;
    font-size: 15px;
    cursor: pointer;
}
.contact li{
    cursor:pointer;
    width:fit-content;
}
.contact li a{
    transform: color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    color:gray;
}
.contact li a:hover{
    color: white;
    transition: 0.3s;
}
.sections{
    color:white;
    position: relative;
    left: 65%;
    top:0px;
    text-align: left;
    align-items: left;
    list-style: none;
    z-index: 1;
    overflow: hidden;
}
.sections h10{
    font-size: 16px;
}
.sections a{
    text-decoration: none;
    color: white;
    position: relative;
    top:5px;
    z-index: 1;
    font-size: 15px;
}
.sections li{
    width:fit-content;
}
.sections li a{
    transform: color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    z-index: 2;
    color:gray;
}
.sections li a:hover{
    color: white;
    transition: 0.3s;
}

.submission{
    color:white;
    position: relative;
    left: 75.5%;
    top:-210px;
    text-align: left;
    align-items: center;
    list-style: none;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.submission h10{
    font-size: 16px;
}
.submission a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    position: relative;
    top:5px;

    z-index: 1;

}
.submission li{
    cursor:pointer;
    width:fit-content;
}
.submission li a{
    transform: color 0.3s ease;
    cursor: pointer;
    color: gray;
    font-size: 12px;
    z-index:2;
}
.submission li a:hover{
    color: white;
    transition: 0.3s;
}
.about{
    color:white;
    position: relative;
    left: 87.5%;
    top:-290px;
    text-align: left;
    align-items: center;
    list-style: none;
    overflow: hidden;
    z-index:1;
    cursor: pointer;
}
.about h10{
    font-size: 16px;
}
.about a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    position: relative;
    top:5px;
    z-index: 1;
}
.about li{
    width:fit-content;
    cursor: pointer;
}
.about li a{
    transform: color 0.3s ease;
    color:gray;
    font-size: 12px;
    z-index:2;
}
.about li a:hover{
    color: white;
    transition: 0.3s;
}

nav .fa-solid{
    display: none;
}
.bottom-footer{
    top:280px;
}
/*---Phone----*/
@media (300px <= width <= 500px){
    .header{
        width: 100%;
        height: 120vh;
        top: 0;
        position: absolute;
        top: -80px;
        overflow-x: hidden;
    }
    .body{
        width: 100%;
    }
    .nav-links ul li{
        display: block; 
        left: -20px; 
        top: -10px;

    }
    .nav-links ul li:hover:after{
        display: none;
    }
    .nav-links{
        position: absolute;
        height: 105vh;
        opacity: 0%;
        width: 100%;
        left: 0;
        top:0;
        text-align: center;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 12px;
        font-family: 'Nexa';
        z-index:2;
        font-weight: 800;
        transition: 0.5s
    }
    .nav-links li a{
        top: 200px;
        left: 30px;
        position: relative;
    }
    nav .fa-solid.fa-bars{
        display: block;
        font-size: 25px;
        margin: 10px;
        position: absolute;
        top: 105px;
        left:80%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav .fa-solid.fa-xmark{
        display: block;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 105px;
        left: 20%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 90px;
        left:40%;
    }
    .container{
        position: relative;
        left:-40%;
        top:270px;
        width: 50%;
    
    }
    .container .text{
        position: relative;
        color:white;
        text-shadow: 0 0 10px white, 0 0 20px white;
        font-size: 30px;
        font-weight: 600;

    }
    .container .text.f-txt{
        color:lightgrey;
        text-shadow: none;
        
    }
    .container .text.text.s-txt{
        left: 0%;
    }
    .text.s-txt:before{
        content: "";
        position: absolute;
        top:23px;
        left: -70%;
        background-color: black;
        height: 70%;
        width: 500%;
        opacity: 100%;
        border-left:1px solid white;
        animation: animate 2s steps(20) infinite;
    }
    @keyframes animate{
        40%, 50%{
            left: calc(100%);
        }
        20%{
            left: calc(0%);
        }
    }
    .main{
        position: absolute;
        right: 50%;
        top: 185px;
        margin-left:-100px;;
        width: 150%;
        align-items: center;
        align-content: center;
    }
    .main-b{
        font-size: 11px;
    }
    .main-2{
        font-size: 11px;
    }
    .main-3{
        font-size: 11px;
    }
    .ev{
        top: 200px;
        overflow-x: hidden;
    }
    .ev .events{
        position: absolute;
        top:630px;
        width: 0%;
        left: 40%;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        align-content: center;
    }
    .ev .hero-btn{
        position: absolute;
        top: 700px;
        left: 30px;
        width: 60%;
    }
    .ev .hero-btn .fa-solid{
        font-size: 40px;
        left: -20px;
    }
    .ev .hero-btn h2{
        font-size: 13px;
        left: 40px
    }
    .ev .hero-btn p{
        font-size: 11px;
        left: 40px;
    }
    .ev .hero-btn p2{
        font-size: 11px;
        left: 40px;
    }
    .ev .hero-btn p3{
        font-size: 11px;
        left: 73px;
        top: 80%;
        position: absolute;
    }
    
    .ev .hero-btn2{
        position: absolute;
        top: 850px;
        left: 30px;
        width: 60%;
        height: 17vh;
    }
    .ev .hero-btn2 .fa-solid{
        font-size: 40px;
        left: -20px;
        top: 30px;
    }
    .ev .hero-btn2 h3{
        font-size: 13px;
        left: 40px
    }
    .ev .hero-btn2 p4{
        font-size: 11px;
        left: 40px;
    }
    .ev .hero-btn2 p5{
        font-size: 11px;
        left: 73px;
        top: 73%;
        position: absolute;
    }
    .ev .hero-btn2 p6{
        font-size: 11px;
        left: 73px;
        top: 87%;
        position: absolute;
    }
    
    
    
    
    

    .footer{
        width: 100%;
        top: 1200px;
    }
    .footer .imagexr{
        height: 30px;
        top:-5px;
        width: 60px;
    }
    .footer .text-box7{
        top:-29px;
        left: 120px;
        width: 60%;
        line-height:12px;
        
    }
    .footer .text-box7 h7{
        font-size: 11px;

    }
    .email-box{
        display: none;
    }
    .footer .contact{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -50px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .contact li a{
        display: none;
    }
    .footer .contact h9 a{
        left: 46%;
        top:0;
        color: white;
        position: relative;
        font-size: 14px;
    }
    .footer .sections{
        cursor: pointer;
        border: 1px solid rgb(76,76,76);
        height: 18px;
        position: relative;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px);
        width: 89%;
        left: 19px;
        border-radius: 4px;
        font-size: 12px;
        top:0px;
        overflow-x: hidden;
    }
    .footer .sections h10 a{
        left: 44%;
        position: relative;
        font-size: 14px;
        top:0;
        color:white;
    }
    .footer .sections li a {
        display: none;
    }
    .footer .submission{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -10px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .submission h11 a{
        left: 41%;
        font-size: 14px;
        position: relative;
        color:white;
        top:0;
    }
    .footer .submission li a{
        display: none;
    }
    .footer .about{
        left: 17px;
        top: 0px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        width: 89%;
        border-radius: 4px;
        font-size: 15.5px;
        backdrop-filter: blur(12px);
        background:rgba(255,255,255,0.1);
        overflow-x: hidden;
    }
    .footer .about h11 a{
        font-size: 14px;
        position: relative;
        color:white;
        left: 45%;
        top: 0;
    }
    .footer .about li a{
        display: none;
    }
    .media{
        position:absolute;
        top:210px;
        left:-80px;
    }
    html, .sec2, .sec3, .sec4, .p5
    {
        width: 100%;
        margin: 0px;
        padding:0px;
        overflow-x: hidden;
    }
    .sec2, .sec3,.sec4{
        overflow-y: hidden;
    }
    .bottom-footer{
        top:200px;
    }
}



@media (501px <= width <= 768px){
    .header{
        width: 100%;
        height: 120vh;
        top: 0;
        position: absolute;
        top: -80px;
        overflow-x: hidden;
    }
    .body{
        width: 100%;
    }
    .nav-links ul li{
        display: block; 
        left: -20px; 
        top: -10px;

    }
    .nav-links ul li:hover:after{
        display: none;
    }
    .nav-links{
        position: absolute;
        height: 105vh;
        opacity: 0%;
        width: 100%;
        left: 0;
        top:0;
        text-align: center;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 12px;
        font-family: 'Nexa';
        z-index:2;
        font-weight: 800;
        transition: 0.5s
    }
    .nav-links li a{
        top: 200px;
        left: 30px;
        position: relative;
    }
    nav .fa-solid.fa-bars{
        display: block;
        font-size: 25px;
        margin: 10px;
        position: absolute;
        top: 105px;
        left:85%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav .fa-solid.fa-xmark{
        display: block;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 105px;
        left: 30%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 90px;
        left:40%;
    }
    .container{
        position: relative;
        left:-40%;
        top:270px;
        width: 50%;
    
    }
    .container .text{
        position: relative;
        color:white;
        text-shadow: 0 0 10px white, 0 0 20px white;
        font-size: 30px;
        font-weight: 600;

    }
    .container .text.f-txt{
        color:lightgrey;
        text-shadow: none;
        
    }
    .container .text.text.s-txt{
        left: 0%;
    }
    .text.s-txt:before{
        content: "";
        position: absolute;
        top:-8px;
        left: 0%;
        background-color: black;
        height: 150%;
        width: 500%;
        opacity: 100%;
        border-left:1px solid white;
        animation: animate 2s steps(20) infinite;
    }
    @keyframes animate{
        40%, 60%{
            left: calc(100% + 4px);
        }
        100%{
            left:0%;
        }
    }
    .main{
        position: absolute;
        left: 0%;
        top: 185px;
        margin-left:-100px;;
        width: 130%;
        align-items: center;
        align-content: center;
    }
    .main-b{
        font-size: 11px;
    }
    .main-2{
        font-size: 11px;
    }
    .main-3{
        font-size: 11px;
    }
    .ev{
        top: 200px;
        overflow-x: hidden;
    }
    .ev .events{
        position: absolute;
        top:630px;
        width: 0%;
        left: 40%;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        align-content: center;
    }
    .ev .hero-btn{
        position: absolute;
        top: 720px;
        left: 30px;
        width: 80%;
        height: 15%;
    }
    .ev .hero-btn .fa-solid{
        font-size: 40px;
        left: -20px;
    }
    .ev .hero-btn h2{
        font-size: 13px;
        left: 40px;
        top: -30px;
    }
    .ev .hero-btn p{
        font-size: 11px;
        left: 40px;
        top: -20px;
    }
    .ev .hero-btn p2{
        font-size: 11px;
        left: 40px;
        top: -20px;
    }
    .ev .hero-btn p3{
        font-size: 11px;
        left: 73px;
        top: 80px;;
        position: absolute;
    }
    
    .ev .hero-btn2{
        position: absolute;
        top: 850px;
        left: 30px;
        width: 80%;
        height: 17vh;
    }
    .ev .hero-btn2 .fa-solid{
        font-size: 40px;
        left: -20px;
        top: 30px;
    }
    .ev .hero-btn2 h3{
        font-size: 13px;
        left: 40px;
        top: -15px;
    }
    .ev .hero-btn2 p4{
        font-size: 11px;
        left: 40px;
        top: -10px;
    }
    .ev .hero-btn2 p5{
        font-size: 11px;
        left: 73px;
        top: 75px;
        position: absolute;
    }
    .ev .hero-btn2 p6{
        font-size: 11px;
        left: 73px;
        top: 90px;
        position: absolute;
    }
    
    

    .footer{
        width: 100%;
        top: 1200px;
    }
    .footer .imagexr{
        height: 30px;
        top:-5px;
        width: 60px;
    }
    .footer .text-box7{
        top:-20px;
        left: 140px;
        width: 40%;
        line-height:12px;
        
    }
    .footer .text-box7 h7{
        font-size: 11px;

    }
    .email-box{
        display: none;
    }
    .footer .contact{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -40px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .contact li a{
        display: none;
    }
    .footer .contact h9 a{
        left: 46%;
        top:0;
        color: white;
        position: relative;
        font-size: 14px;
    }
    .footer .sections{
        cursor: pointer;
        border: 1px solid rgb(76,76,76);
        height: 18px;
        position: relative;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px);
        width: 89%;
        left: 19px;
        border-radius: 4px;
        font-size: 12px;
        top:10px;
        overflow-x: hidden;
    }
    .footer .sections h10 a{
        left: 44%;
        position: relative;
        font-size: 14px;
        top:0;
        color:white;
    }
    .footer .sections li a {
        display: none;
    }
    .footer .submission{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: 0px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .submission h11 a{
        left: 41%;
        font-size: 14px;
        position: relative;
        color:white;
        top:0;
    }
    .footer .submission li a{
        display: none;
    }
    .footer .about{
        left: 17px;
        top: 10px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        width: 89%;
        border-radius: 4px;
        font-size: 15.5px;
        backdrop-filter: blur(12px);
        background:rgba(255,255,255,0.1);
        overflow-x: hidden;
    }
    .footer .about h11 a{
        font-size: 14px;
        position: relative;
        color:white;
        left: 45%;
        top: 0;
    }
    .footer .about li a{
        display: none;
    }
    .media{
        position:absolute;
        top:210px;
        left:-80px;
    }
    html, .sec2, .sec3, .sec4, .p5
    {
        width: 100%;
        margin: 0px;
        padding:0px;
        overflow-x: hidden;
    }
    .sec2, .sec3,.sec4{
        overflow-y: hidden;
    }
    .bottom-footer{
        top:200px;
    }
}



@media (769px <= width <= 900px){
    .header{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    nav .nav-links{
        display: block;
        left: 55%;
        top: 50px;
    }
    nav .nav-links li a{
        font-size: 12px;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 25px;
        left: 40%;
    }
    .container{
        position: relative;
        left:-45%;
        top:170px;
        width: 50%;
    
    }
    .container .text{
        position: relative;
        color:white;
        text-shadow: 0 0 10px white, 0 0 20px white;
        font-size: 30px;
        font-weight: 600;

    }
    .container .text.f-txt{
        color:lightgrey;
        text-shadow: none;
        
    }
    .container .text.text.s-txt{
        left: 0%;
    }
    .text.s-txt:before{
        content: "";
        position: absolute;
        top:-8px;
        left: 0%;
        background-color: black;
        height: 150%;
        width: 500%;
        opacity: 100%;
        border-left:1px solid white;
        animation: animate 2s steps(20) infinite;
    }
    @keyframes animate{
        40%, 60%{
            left: calc(100% + 4px);
        }
        100%{
            left:0%;
        }
    }
    .main{
        position: absolute;
        left: 0%;
        top: 85px;
        margin-left:-100px;;
        width: 100%;
        align-items: center;
        align-content: center;
    }
    .main-b{
        font-size: 11px;
    }
    .main-2{
        font-size: 11px;
    }
    .main-3{
        font-size: 11px;
    }
    .ev{
        top: 200px;
        overflow-x: hidden;
    }
    .ev .events{
        position: absolute;
        top:630px;
        width: 0%;
        left: 45%;
        padding: 10px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        align-content: center;
    }
    .ev .hero-btn{
        position: absolute;
        top: 720px;
        left: 30px;
        width: 80%;
        height: 15%;
    }
    .ev .hero-btn .fa-solid{
        font-size: 40px;
        left: -20px;
    }
    .ev .hero-btn h2{
        font-size: 13px;
        left: 40px;
        top: -30px;
    }
    .ev .hero-btn p{
        font-size: 11px;
        left: 40px;
        top: -20px;
    }
    .ev .hero-btn p2{
        font-size: 11px;
        left: 40px;
        top: -20px;
    }
    .ev .hero-btn p3{
        font-size: 11px;
        left: 73px;
        top: 80px;;
        position: absolute;
    }
    
    .ev .hero-btn2{
        position: absolute;
        top: 850px;
        left: 30px;
        width: 80%;
        height: 17vh;
    }
    .ev .hero-btn2 .fa-solid{
        font-size: 40px;
        left: -20px;
        top: 30px;
    }
    .ev .hero-btn2 h3{
        font-size: 13px;
        left: 40px;
        top: -15px;
    }
    .ev .hero-btn2 p4{
        font-size: 11px;
        left: 40px;
        top: -10px;
    }
    .ev .hero-btn2 p5{
        font-size: 11px;
        left: 73px;
        top: 75px;
        position: absolute;
    }
    .ev .hero-btn2 p6{
        font-size: 11px;
        left: 73px;
        top: 90px;
        position: absolute;
    }
    
    

    .footer{
        width: 100%;
        top: 600px;
        height: 60vh;
        position: relative; 
        overflow-x: hidden;
        position: relative;
    }
    .footer .imagexr{
        position: relative;
        left:4.5%;
        top: 130px;
        width: 60px;
        height: 30px;}
    .text-box7{
        color:white;
        text-align: left;
        font-family: 'Nexa';
        position: relative;
        left: 17%;
        top: 110px;
        width: 300px;
       
    }
    .text-box7 h7{
        font-size: 12px;
        color:lightgrey
    
    }
    .media{
        display: flex;
        align-items: left;
        justify-content: left;
        position: relative;
        left: -30%;
        top: 75px;
    }
    .email-box {
        position: absolute;
        top: 220px;
        right: 63.5%;
        object-fit: cover;
        width:30%;
        
      }
      .email-btn {
        color: white;
        float: right;
        height: 30px;
        border-radius: 50%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
      }
      
      .email-txt {
        border: none;
        background: transparent;
        outline: none;
        float: left;
        position: center;
        padding: 0;
        color: white;
        font-size: 14px;
        transition: 0.4s;
        line-height: 35px;
        width: 100%;
      }
      .contact{
        position: relative;
        left: 50%;
        top:-150px;
        text-align: left;
        align-items: left;
        list-style: none;
        overflow: hidden;
    }
    .contact h10 a{
        font-size: 16px;
        color: white;
    }
    .contact a{
        text-decoration: none;
        color: white;
        position: relative;
        top:5px;
        font-size: 15px;
    }
    .contact li a{
        color: gray;
        font-size: 12px;
    }
    .sections{
        color:white;
        position: relative;
        left: 61.5%;
        top:0px;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }
    .sections h10 a{
        font-size: 15px;
        z-index: 1;
        color: white;
    }
    .sections a{
        text-decoration: none;
        color: gray;
        position: relative;
        top:5px;
        font-size: 12px;
        z-index: 2;
        cursor: pointer;
        text-align: left;
    }
    .submission{
        color:white;
        position: relative;
        left: 74%;
        top:-210px;
        text-align: left;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }
    .submission a{
        text-decoration: none;
        color:white;
        font-size: 15px;
        position: relative;
        top:5px;
        cursor: pointer;
    }
    .submission li a{
        color: gray;
        font-size: 12px;
    }
    .submission li a:hover{
        color: white;
        transition: 0.3s;
    }
    .about{
        color:white;
        position: relative;
        left: 89%;
        top:-290px;
        text-align: left;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }
    .about a{
        color:white;
        font-size: 15px;

    }
    .about li a{
        color: gray;
        font-size: 12px;
    }
    .about li a:hover{
        color: white;
        transition: 0.3s;
    }
    
    .bottom-footer{
        top:190px;
    }
}