*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noir', sans-serif;
    font-family: 'Nexa', sans-serif;                                               
}
body{
    background-color: black;
    margin:0;
    padding: 0;
    width: 100%;
}
.header{
    min-height: 110vh;
    width: 100%;
    background-image: linear-gradient(rgba(2,6,25,0.2),rgba(2,6,25,0.2)),url(ar3.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 3% 6%;
    justify-content: space-between;
    align-items: center;
    
} 

nav img {
  width: 70px;
  position: relative;
  top: 0;
}

.nav-links {
  flex: 1;
  color:white;
  text-align: right;
  position:absolute;
  cursor: pointer;
  top: 7%;
  left: 70%;
  transition: left 0.4s ease-in-out;
}

@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
.preloader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0s infinite linear alternate;
          animation: blur-text 1s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.1s infinite linear alternate;
          animation: blur-text 1s 0.1s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.2s infinite linear alternate;
          animation: blur-text 1s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.3s infinite linear alternate;
          animation: blur-text 1s 0.3s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.4s infinite linear alternate;
          animation: blur-text 1s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.5s infinite linear alternate;
          animation: blur-text 1s 0.5s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.6s infinite linear alternate;
          animation: blur-text 1s 0.6s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}


.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 7px;
    position: relative;
    
}
.nav-links ul li a{
    font-family: 'Noir', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #DADBDD;
    display: block;
    margin: auto;
    transition: 0.4s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    color:white;
    width: 50%;
    align-items: center;
    text-align: center;
    align-content: center;
    left: 25%;
    top: 45%;
    position: absolute;
}
.text-box h1{
    font-size: 45px;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white, 0 0 120px white, 0 0 150px white;
}
.text-box p{
    font-size: 13px;
    position: relative;
    top: 10px;
    left: 0%;
    width: 100%;
}
.article{
    height: 100vh;
}
.text-box2{
    color:white;
    border-bottom: solid 1px white;
    width: 80%;
    position: relative;
    top: 10%;
    left: 10%;
    font-size: 30px
}
.harvard{
    position: relative;
    top: 75px;
    left: 130px;
    width: 20%;
    height: 350px;
    display: inline-block;
    font-size: 12px;
    border-radius: 9px;
    backdrop-filter: blur(3px);
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    background: transparent;
    margin: 0 auto;
    cursor: pointer;
    transition: border 0.9s, background 0.9s, color 0.9s;
}
.harvard img{
    height: 50%;
    width: 90%;
    position: absolute;
    left: 20px;
    border-radius: 10px;
}
.harvard:hover {
    border: 0.5px solid #DADBDD;
    background: rgb(218, 219, 221);
    color: black;
}
.harvard h2{
    position: relative;
    left: -5px;
    top: 65%;
    font-size: 18px;
}
.harvard p{
    position: relative;
    left: -10px;
    padding: 3px;
    width: 110%;
    top: 67%;
    font-size: 12px;
}

.ancient{
    position: relative;
    top: 75px;
    left:180px;
    width: 20%;
    height: 350px;
    display: inline-block;
    font-size: 15.4px;
    border-radius: 9px;
    backdrop-filter: blur(3px);
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    background: transparent;
    margin: 0 auto;
    cursor: pointer;
    transition: border 0.9s, background 0.9s, color 0.9s;
}
.ancient img{
    height: 50%;
    width: 90%;
    position: absolute;
    left: 20px;
    border-radius: 10px;
}
.ancient:hover {
    border: 0.5px solid #DADBDD;
    background: rgb(218, 219, 221);
    color: black;
}
.ancient h2{
    position: relative;
    left: -5px;
    top: 65%;
    font-size: 18px;
}
.ancient p{
    position: relative;
    left: -10px;
    padding: 3px;
    width: 110%;
    top: 67%;
    font-size: 12px;
}

.xai{
    position: relative;
    top: 75px;
    left: 230px;
    width: 20%;
    height: 350px;
    display: inline-block;
    font-size: 15.4px;
    border-radius: 9px;
    backdrop-filter: blur(3px);
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    background: transparent;
    margin: 0 auto;
    cursor: pointer;
    transition: border 0.9s, background 0.9s, color 0.9s;
}
.xai img{
    height: 50%;
    width: 90%;
    position: absolute;
    left: 20px;
    border-radius: 10px;
}
.xai:hover {
    border: 0.5px solid #DADBDD;
    background: rgb(218, 219, 221);
    color: black;
}
.xai h2{
    position: relative;
    left: -5px;
    top: 65%;
    font-size: 18px;
}
.xai p{
    position: relative;
    left: -10px;
    padding: 3px;
    width: 110%;
    top: 67%;
    font-size: 12px;
}


.agpt{
    position: absolute;
    top: 185%;
    left: 8.5%;
    width: 20%;
    height: 350px;
    display: inline-block;
    font-size: 15.4px;
    border-radius: 9px;
    backdrop-filter: blur(3px);
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    background: transparent;
    margin: 0 auto;
    cursor: pointer;
    transition: border 0.9s, background 0.9s, color 0.9s;
}
.agpt img{
    height: 50%;
    width: 90%;
    position: absolute;
    left: 20px;
    border-radius: 10px;
}
.agpt:hover {
    border: 0.5px solid #DADBDD;
    background: rgb(218, 219, 221);
    color: black;
}
.agpt h2{
    position: relative;
    left: -5px;
    top: 65%;
    font-size: 18px;
}
.agpt p{
    position: relative;
    left: -10px;
    padding: 3px;
    width: 100%;
    top: 67%;
    font-size: 12px;
}

/*----footer----*/
.footer{
    width: 100%;
    top: 130px;
    height: 60vh;
    position: relative; 
    overflow: hidden;
    position: relative;
}
.footer .imagexr{
    position: relative;
    left:4.5%;
    top: 130px;
    width: 60px;
    height: 30px;}
.footer .imagexr img{
    z-index: 111;
    position: relative;
    top: 40%;
    left:20%;
    width: 140%;
    height: 140%; 
}
.text-box7{
    color:white;
    text-align: left;
    font-family: 'Nexa';
    position: relative;
    left: 12%;
    top: 105px;
    width: 340px;
   
}
.text-box7 h7{
    font-size: 12px;
    font-family: 'Nexa';
    color:lightgrey

}
.media{
    list-style: none;
    display: flex;
    margin: 0rem 0 0rem 0;
    align-items: left;
    justify-content: left;
    position: relative;
    left: -35%;
    top: 70px;
}
.media li{
    margin: 0 12px;
    cursor: pointer;
}
.media a{
    text-decoration: none;
    color: white;
}
.media a i{
    font-size: 27px;
    transform: color 0.6s ease;
}
.media a:hover i{
    color: #56B7F5;
    opacity: 90%;
    transition: 0.4s;
}
.bottom-footer{
    color: lightgray;
    position: relative;
    font-size: 12px;
    align-items: center;
    text-align: center;

}
.email-box {
    position: absolute;
    top: 200px;
    right: 74.5%;
    transform: translate(-3%, 10%);
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 30px;
    z-index: 111;
    border-radius: 10px;
    object-fit: cover;
    width:20%;
    
  }
  .email-btn {
    color: white;
    float: right;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  
  .email-txt {
    border: none;
    background: transparent;
    outline: none;
    float: left;
    position: center;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    line-height: 35px;
    width: 100%;
  }
  .contact{
    color:white;
    position: relative;
    left: 55%;
    top:-155px;
    text-align: left;
    align-items: left;
    list-style: none;
    overflow: hidden;
}
.contact h10{
    font-size: 16px;
}
.contact a{
    text-decoration: none;
    color: white;
    position: relative;
    top:5px;
    font-size: 15px;
    cursor: pointer;
}
.contact li{
    cursor:pointer;
    width:fit-content;
}
.contact li a{
    transform: color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    color:gray;
}
.contact li a:hover{
    color: white;
    transition: 0.3s;
}
.sections{
    color:white;
    position: relative;
    left: 65%;
    top:0px;
    text-align: left;
    align-items: left;
    list-style: none;
    z-index: 1;
    overflow: hidden;
}
.sections h10{
    font-size: 16px;
}
.sections a{
    text-decoration: none;
    color: white;
    position: relative;
    top:5px;
    z-index: 1;
    font-size: 15px;
}
.sections li{
    width:fit-content;
}
.sections li a{
    transform: color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    z-index: 2;
    color:gray;
}
.sections li a:hover{
    color: white;
    transition: 0.3s;
}

.submission{
    color:white;
    position: relative;
    left: 75.5%;
    top:-210px;
    text-align: left;
    align-items: center;
    list-style: none;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.submission h10{
    font-size: 16px;
}
.submission a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    position: relative;
    top:5px;

    z-index: 1;

}
.submission li{
    cursor:pointer;
    width:fit-content;
}
.submission li a{
    transform: color 0.3s ease;
    cursor: pointer;
    color: gray;
    font-size: 12px;
    z-index:2;
}
.submission li a:hover{
    color: white;
    transition: 0.3s;
}
.about{
    color:white;
    position: relative;
    left: 87.5%;
    top:-290px;
    text-align: left;
    align-items: center;
    list-style: none;
    overflow: hidden;
    z-index:1;
    cursor: pointer;
}
.about h10{
    font-size: 16px;
}
.about a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    position: relative;
    top:5px;
    z-index: 1;
}
.about li{
    width:fit-content;
    cursor: pointer;
}
.about li a{
    transform: color 0.3s ease;
    color:gray;
    font-size: 12px;
    z-index:2;
}
.about li a:hover{
    color: white;
    transition: 0.3s;
}

nav .fa-solid{
    display: none;
}
.bottom-footer{
    top:280px;
}
@media (300px <= width <= 500px){
    .header{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .nav-links ul li{
        display: block; 
        left: -20px; 
        top: -10px;

    }
    .nav-links ul li:hover:after{
        display: none;
    }
    .nav-links{
        position: absolute;
        height: 105vh;
        opacity: 0%;
        width: 100%;
        left: 0px;
        top:-10px;
        text-align: center;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 12px;
        font-family: 'Nexa';
        z-index:2;
        font-weight: 800;
        transition: 0.5s
    }
    nav .fa-solid.fa-bars{
        display: block;
        overflow-x: hidden;
        z-index: 3;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 20px;
        right: 10px;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav .fa-solid.fa-xmark{
        display: block;
        overflow-x: hidden;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 6.7%;
        left: 20%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    .nav-links li a{
        position: relative;
        top:200px;
        left:5%;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 25px;
        left: 30%;
    }
    .text-box{
        width: 100%;
        align-items: center;
        text-align: center;
        align-content: center;
        left: 0%;
        top: 35%;
        position: absolute;
    }
    .text-box h1{
        font-size: 35px;
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white, 0 0 120px white, 0 0 150px white;
    }
    .text-box p{
        font-size: 11.5px;
        position: relative;
        top: 10px;
        left: 5%;
        width: 90%;
    }
    .article{
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    
    .text-box2{
        color:white;
        border-bottom: solid 1px white;
        width: 80%;
        position: relative;
        top: 10%;
        left: 10%;
        font-size: 25px;
        overflow-x: hidden;
    }
    .harvard{
        position: absolute;
        top: 130%;
        overflow: hidden;
        left: 0%;
        width: fit-content;
        height: 70%;
        cursor: pointer;
    }
    .harvard h2{
        position: relative;
        left: -5px;
        top: 60%;
        font-size: 18px;
    }
    .harvard p{
        position: relative;
        left: -10px;
        padding: 3px;
        width: 100%;
        top: 62%;
        font-size: 12px;
    }
    .ancient{
        position: absolute;
        top: 195%;
        left:0px;
        width: fit-content;
        height: 70%;
        cursor: pointer;
        overflow: hidden;
    }
    .ancient h2{
        position: relative;
        left: -5px;
        top: 60%;
        width: 100%;
        font-size: 18px;
    }
    .ancient p{
        position: relative;
        left: -10px;
        padding: 3px;
        width: 100%;
        top: 62%;
        font-size: 12px;
    }

    .xai{
        display: none;
        position: absolute;
        top: 260%;
        left: 0%;
        width:60%;
        height: 70%;
        cursor: pointer;
        overflow: hidden;
    }
    .xai h2{
        position: relative;
        left: -5px;
        top: 60%;
        font-size: 18px;
    }
    .xai p{
        position: relative;
        left: -10px;
        padding: 3px;
        width: 100%;
        top: 62%;
        font-size: 12px;
    }
    .agpt{
        position: absolute;
        top: 260%;
        left:0px;
        width: fit-content;
        height: 70%;
        cursor: pointer;
        overflow: hidden;
    }
    .agpt h2{
        position: relative;
        left: -5px;
        top: 60%;
        width: 100%;
        font-size: 18px;
    }
    .agpt p{
        position: relative;
        left: -10px;
        padding: 3px;
        width: 100%;
        top: 62%;
        font-size: 12px;
    }
    .footer{
        width: 100%;
        top: 800px;
        overflow-x: hidden;
    }
    .footer .imagexr{
        height: 30px;
        top:-5px;
        width: 60px;
    }
    .footer .text-box7{
        top:-29px;
        left: 120px;
        width: 60%;
        line-height:12px;
        
    }
    .footer .text-box7 h7{
        font-size: 11px;

    }
    .email-box{
        display: none;
    }
    .footer .contact{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -50px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .contact li a{
        display: none;
    }
    .footer .contact h9 a{
        left: 46%;
        top:0;
        position: relative;
        font-size: 14px;
    }
    .footer .sections{
        cursor: pointer;
        border: 1px solid rgb(76,76,76);
        height: 18px;
        position: relative;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px);
        width: 89%;
        left: 19px;
        border-radius: 4px;
        font-size: 12px;
        top:0px;
        overflow-x: hidden;
    }
    .footer .sections h10 a{
        left: 44%;
        position: relative;
        font-size: 14px;
        top:0;
    }
    .footer .sections li a {
        display: none;
    }
    .footer .submission{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -10px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .submission h11 a{
        left: 41%;
        font-size: 14px;
        position: relative;
        top:0;
    }
    .footer .submission li a{
        display: none;
    }
    .footer .about{
        left: 17px;
        top: 0px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        width: 89%;
        border-radius: 4px;
        font-size: 15.5px;
        backdrop-filter: blur(12px);
        background:rgba(255,255,255,0.1);
        overflow-x: hidden;
    }
    .footer .about h11 a{
        font-size: 14px;
        position: relative;
        left: 45%;
        top: 0;
    }
    .footer .about li a{
        display: none;
    }
    .media{
        position:absolute;
        top:210px;
        left:-80px;
    }
    .bottom-footer{
        top:200px;
    }
}


@media (501px <= width <= 768px){
    html{
        width: 100%;
        overflow-x: hidden;
    }
    .header{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .nav-links ul li{
        display: block; 
        left: -20px; 
        top: -10px;

    }
    .nav-links ul li:hover:after{
        display: none;
    }
    .nav-links{
        position: absolute;
        height: 105vh;
        opacity: 0%;
        width: 100%;
        left: 0px;
        top:-10px;
        text-align: center;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 12px;
        font-family: 'Nexa';
        z-index:2;
        font-weight: 800;
        transition: 0.5s
    }
    nav .fa-solid.fa-bars{
        display: block;
        overflow-x: hidden;
        z-index: 3;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 20px;
        right: 10px;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav .fa-solid.fa-xmark{
        display: block;
        overflow-x: hidden;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 6.7%;
        left: 20%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    .nav-links li a{
        position: relative;
        top:200px;
        left:5%;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 25px;
        left: 30%;
    }
    .text-box{
        width: 100%;
        align-items: center;
        text-align: center;
        align-content: center;
        left: 0%;
        top: 40%;
        position: absolute;
    }
    .text-box h1{
        font-size: 35px;
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white, 0 0 120px white, 0 0 150px white;
    }
    .text-box p{
        font-size: 11.5px;
        position: relative;
        top: 10px;
        left: 10%;
        width: 80%;
    }
    .article{
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    
    .text-box2{
        color:white;
        border-bottom: solid 1px white;
        width: 80%;
        position: relative;
        top: 10%;
        left: 10%;
        font-size: 25px;
        overflow-x: hidden;
    }
    .harvard{
        position: absolute;
        top: 130%;
        overflow-x: hidden;
        left: 5%;
        width: fit-content;
        height: 100%;
        cursor: pointer;
    }
    .harvard h2{
        position: relative;
        left: -5px;
        top: 55%;
        font-size: 18px;
    }
    .harvard p{
        position: relative;
        left: -10px;
        padding: 3px;
        width: 100%;
        top: 55%;
        font-size: 12px;
    }
    .ancient{
        position: absolute;
        top: 210%;
        left:5%;
        width: fit-content;
        height: 100%;
        cursor: pointer;
        overflow: hidden;
    }
    .ancient h2{
        position: relative;
        left: -5px;
        top: 55%;
        width: 100%;
        font-size: 18px;
    }
    .ancient p{
        position: relative;
        left: -10px;
        padding: 3px;
        width: 100%;
        top: 55%;
        font-size: 12px;
    }

    .xai{
        display:none;
        position: absolute;
        overflow-x: hidden;
        top: 270%;
        left:0px;
        width: fit-content;
        height: 70%;
        cursor: pointer;
    }
    .xai h2{
        position: relative;
        left: -5px;
        top: 60%;
        font-size: 18px;
    }
    .xai p{
        position: relative;
        left: -10px;
        padding: 3px;
        width: 100%;
        top: 62%;
        font-size: 12px;
    }

    .footer{
        width: 100%;
        top: 800px;
        overflow-x: hidden;
    }
    .footer .imagexr{
        height: 30px;
        top:-5px;
        width: 60px;
    }
    .footer .text-box7{
        top:-25px;
        left: 140px;
        width: 40%;
        line-height:12px;
        
    }
    .footer .text-box7 h7{
        font-size: 11px;

    }
    .email-box{
        display: none;
    }
    .footer .contact{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -50px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .contact li a{
        display: none;
    }
    .footer .contact h9 a{
        left: 46%;
        top:0;
        position: relative;
        font-size: 14px;
    }
    .footer .sections{
        cursor: pointer;
        border: 1px solid rgb(76,76,76);
        height: 18px;
        position: relative;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px);
        width: 89%;
        left: 19px;
        border-radius: 4px;
        font-size: 12px;
        top:0px;
        overflow-x: hidden;
    }
    .footer .sections h10 a{
        left: 44%;
        position: relative;
        font-size: 14px;
        top:0;
    }
    .footer .sections li a {
        display: none;
    }
    .footer .submission{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -10px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .submission h11 a{
        left: 41%;
        font-size: 14px;
        position: relative;
        top:0;
    }
    .footer .submission li a{
        display: none;
    }
    .footer .about{
        left: 17px;
        top: 0px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        width: 89%;
        border-radius: 4px;
        font-size: 15.5px;
        backdrop-filter: blur(12px);
        background:rgba(255,255,255,0.1);
        overflow-x: hidden;
    }
    .footer .about h11 a{
        font-size: 14px;
        position: relative;
        left: 45%;
        top: 0;
    }
    .footer .about li a{
        display: none;
    }
    .media{
        position:absolute;
        top:210px;
        left:-80px;
    }
    .bottom-footer{
        top:200px;
    }
}


@media (769px <= width <= 900px){
    html{
        width: 100%;
        overflow-x: hidden;
    }
    .header{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .nav-links ul li{
        left: -20px; 
        top: -10px;

    }
    .nav-links{
        left: 52%;
        top: -130px;
    }
    nav .fa-solid.fa-bars{
        display: none;
    }
    nav .fa-solid.fa-xmark{
        display: none;
    }
    .nav-links li a{
        position: relative;
        top:200px;
        left:5%;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 25px;
        left: 30%;
    }
    .text-box{
        width: 100%;
        align-items: center;
        text-align: center;
        align-content: center;
        left: 0%;
        top: 40%;
        position: absolute;
    }
    .text-box h1{
        font-size: 35px;
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white, 0 0 120px white, 0 0 150px white;
    }
    .text-box p{
        font-size: 11.5px;
        position: relative;
        top: 10px;
        left: 10%;
        width: 80%;
    }
    .article{
        width: 100%;
        overflow: hidden;
        height: 100vh;
    }
    
    .text-box2{
        color:white;
        border-bottom: solid 1px white;
        width: 80%;
        position: relative;
        top: 10%;
        left: 10%;
        font-size: 25px;
        overflow-x: hidden;
    }
    .harvard{
        position: absolute;
        top: 130%;
        overflow-x: hidden;
        left: 3%;
        width:40%;
        height: 70%;
        cursor: pointer;
    }
    .harvard h2{
        position: relative;
        left: -5px;
        top: 60%;
        font-size: 18px;
    }
    .harvard p{
        position: relative;
        left: -10px;
        padding: 3px;
        width: 100%;
        top: 60%;
        font-size: 12px;
    }
    .ancient{
        position: absolute;
        top: 130%;
        left:50%;
        width: 40%;
        height: 70%;
        cursor: pointer;
        overflow: hidden;
    }
    .ancient h2{
        position: relative;
        left: -5px;
        top: 60%;
        width: 100%;
        font-size: 18px;
    }
    .ancient p{
        position: relative;
        left: -10px;
        padding: 3px;
        width: 100%;
        top: 60%;
        font-size: 12px;
    }

    .xai{
        position: absolute;
        overflow-x: hidden;
        top: 195%;
        left:3%;
        width: 40%;
        height: 70%;
        cursor: pointer;
    }
    .xai h2{
        position: relative;
        left: -5px;
        top: 60%;
        font-size: 18px;
    }
    .xai p{
        position: relative;
        left: -10px;
        padding: 3px;
        width: 100%;
        top: 62%;
        font-size: 12px;
    }

    .footer{
        width: 100%;
        top:500px;
        height: 60vh;
        position: relative; 
        overflow-x: hidden;
        position: relative;
    }
    .footer .imagexr{
        position: relative;
        left:4.5%;
        top: 130px;
        width: 60px;
        height: 30px;}
    .text-box7{
        color:white;
        text-align: left;
        font-family: 'Nexa';
        position: relative;
        left: 17%;
        top: 110px;
        width: 300px;
       
    }
    .text-box7 h7{
        font-size: 12px;
        color:lightgrey
    
    }
    .media{
        display: flex;
        align-items: left;
        justify-content: left;
        position: relative;
        left: -30%;
        top: 75px;
    }
    .email-box {
        position: absolute;
        top: 220px;
        right: 63.5%;
        object-fit: cover;
        width:30%;
        
      }
      .email-btn {
        color: white;
        float: right;
        height: 30px;
        border-radius: 50%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
      }
      
      .email-txt {
        border: none;
        background: transparent;
        outline: none;
        float: left;
        position: center;
        padding: 0;
        color: white;
        font-size: 14px;
        transition: 0.4s;
        line-height: 35px;
        width: 100%;
      }
      .contact{
        position: relative;
        left: 50%;
        top:-150px;
        text-align: left;
        align-items: left;
        list-style: none;
        overflow: hidden;
    }
    .contact h10 a{
        font-size: 16px;
        color: white;
    }
    .contact a{
        text-decoration: none;
        color: white;
        position: relative;
        top:5px;
        font-size: 15px;
    }
    .contact li a{
        color: gray;
        font-size: 12px;
    }
    .sections{
        color:white;
        position: relative;
        left: 61.5%;
        top:0px;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }
    .sections h10 a{
        font-size: 15px;
        z-index: 1;
        color: white;
    }
    .sections a{
        text-decoration: none;
        color: gray;
        position: relative;
        top:5px;
        font-size: 12px;
        z-index: 2;
        cursor: pointer;
        text-align: left;
    }
    .sections li a{
        font-size: px;
    }
    .submission{
        color:white;
        position: relative;
        left: 74%;
        top:-210px;
        text-align: left;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }
    .submission a{
        text-decoration: none;
        color:white;
        font-size: 15px;
        position: relative;
        top:5px;
        cursor: pointer;
    }
    .submission li a{
        color: gray;
        font-size: 12px;
    }
    .submission li a:hover{
        color: white;
        transition: 0.3s;
    }
    .about{
        color:white;
        position: relative;
        left: 89%;
        top:-290px;
        text-align: left;
        align-items: center;
        list-style: none;
        overflow: hidden;
    }
    .about a{
        color:white;
        font-size: 15px;

    }
    .about li a{
        color: gray;
        font-size: 12px;
    }
    .about li a:hover{
        color: white;
        transition: 0.3s;
    }
    
    .bottom-footer{
        top:190px;
    }
}