*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noir', sans-serif;
    font-family: 'Nexa', sans-serif;                                               
}
body{
    background-color: black;
    margin:0;
    padding: 0;
    width: 100%;
}
.header{
    min-height: 110vh;
    width: 100%;
    background-image: linear-gradient(rgba(2,6,25,0.2),rgba(2,6,25,0.2)),url(harvardn.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 3% 6%;
    justify-content: space-between;
    align-items: center;
    
} 
nav .fa-solid{
    display: none;
}
nav img {
  width: 70px;
  position: relative;
  top: 0;
}

.nav-links {
  flex: 1;
  color:white;
  text-align: right;
  position:absolute;
  cursor: pointer;
  top: 7%;
  left: 70%;
  transition: left 0.4s ease-in-out;
}

.search-box:hover ~ .nav-links {
  left: 75%;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 7px;
    position: relative;
    
}
.nav-links ul li a{
    font-family: 'Noir', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #DADBDD;
    display: block;
    margin: auto;
    transition: 0.4s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
}
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
.preloader{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0s infinite linear alternate;
          animation: blur-text 1s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.1s infinite linear alternate;
          animation: blur-text 1s 0.1s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.2s infinite linear alternate;
          animation: blur-text 1s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.3s infinite linear alternate;
          animation: blur-text 1s 0.3s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.4s infinite linear alternate;
          animation: blur-text 1s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.5s infinite linear alternate;
          animation: blur-text 1s 0.5s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  -webkit-animation: blur-text 1s 0.6s infinite linear alternate;
          animation: blur-text 1s 0.6s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
.title{
    color:white;
    font-size: 35px;
    width: 40%;
    text-align: center;
    position: relative;
    left: 30%;
    top: 200px;
    text-shadow: 0 0 10px #acc2ed, 0 0 20px #acc2ed, 0 0 40px #acc2ed, 0 0 70px #acc2ed;
}
.title p{ 
    position: relative;
    font-size: 13px;
    top: 50px;
}
.body{
    height: 1500px;
}
.intro{
    color: #e5eeff;
    z-index: 12;
}
.intro p1{
    text-align: left;
    width: 60%;
    left: 20%;
    position: absolute;
    font-size: 14px;
}
.intro p2{
    text-align: left;
    width: 60%;
    left: 20%;
    top: 123%;
    position: absolute;
    font-size: 14px;
}

.intro p4{
    text-align: left;
    width: 60%;
    left: 20%;
    top: 144%;
    position: absolute;
    font-size: 14px;
}
.intro p5{
    text-align: left;
    width: 60%;
    left: 20%;
    top: 220%;
    position: absolute;
    font-size: 14px;
}

.intro p7{
    text-align: left;
    width: 60%;
    left: 20%;
    top: 235%;
    position: absolute;
    font-size: 14px;
}
.intro p8{
    text-align: left;
    width: 60%;
    left: 20%;
    font-size: 15px;
    top: 305%;
    position: absolute;
}
.intro p8 a{

    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    color:rgb(0, 162, 255);

}
.body .image{
    position: absolute;
    left:8%;
    top:145%;
    width: 60%;
    height: 50%;
}
.body .image img{
    z-index: 111;
    position: relative;
    top: 35%;
    left:20%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.13);
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.body .image2{
    position: absolute;
    left:8%;
    top:230%;
    width: 60%;
    height: 50%;
}
.body .image2 img{
    z-index: 111;
    position: relative;
    top: 35%;
    left:20%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.13);
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.footer{
    width: 100%;
    top: 80px;
    height: 60vh;
    position: relative; 
    overflow: hidden;
    position: relative;
}
.footer .imagexr{
    position: relative;
    left:4.5%;
    top: 130px;
    width: 60px;
    height: 30px;}
.footer .imagexr img{
    z-index: 111;
    position: relative;
    top: 40%;
    left:20%;
    width: 140%;
    height: 140%; 
}
.text-box7{
    color:white;
    text-align: left;
    font-family: 'Nexa';
    position: relative;
    left: 12%;
    top: 105px;
    width: 340px;
   
}
.text-box7 h7{
    font-size: 12px;
    font-family: 'Nexa';
    color:lightgrey

}
.media{
    list-style: none;
    display: flex;
    margin: 0rem 0 0rem 0;
    align-items: left;
    justify-content: left;
    position: relative;
    left: -35%;
    top: 70px;
}
.media li{
    margin: 0 12px;
    cursor: pointer;
}
.media a{
    text-decoration: none;
    color: white;
}
.media a i{
    font-size: 27px;
    transform: color 0.6s ease;
}
.media a:hover i{
    color: #56B7F5;
    opacity: 90%;
    transition: 0.4s;
}
.bottom-footer{
    color: lightgray;
    position: relative;
    font-size: 12px;
    align-items: center;
    text-align: center;

}
.email-box {
    position: absolute;
    top: 200px;
    right: 74.5%;
    transform: translate(-3%, 10%);
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 30px;
    z-index: 111;
    border-radius: 10px;
    object-fit: cover;
    width:20%;
    
  }
  .email-btn {
    color: white;
    float: right;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  
  .email-txt {
    border: none;
    background: transparent;
    outline: none;
    float: left;
    position: center;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    line-height: 35px;
    width: 100%;
  }
  .contact{
    color:white;
    position: relative;
    left: 55%;
    top:-155px;
    text-align: left;
    align-items: left;
    list-style: none;
    overflow: hidden;
}
.contact h10{
    font-size: 16px;
}
.contact a{
    text-decoration: none;
    color: white;
    position: relative;
    top:5px;
    font-size: 15px;
    cursor: pointer;
}
.contact li{
    cursor:pointer;
    width:fit-content;
}
.contact li a{
    transform: color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    color:gray;
}
.contact li a:hover{
    color: white;
    transition: 0.3s;
}
.sections{
    color:white;
    position: relative;
    left: 65%;
    top:0px;
    text-align: left;
    align-items: left;
    list-style: none;
    z-index: 1;
    overflow: hidden;
}
.sections h10{
    font-size: 16px;
}
.sections a{
    text-decoration: none;
    color: white;
    position: relative;
    top:5px;
    z-index: 1;
    font-size: 15px;
}
.sections li{
    width:fit-content;
}
.sections li a{
    transform: color 0.3s ease;
    cursor: pointer;
    font-size: 12px;
    z-index: 2;
    color:gray;
}
.sections li a:hover{
    color: white;
    transition: 0.3s;
}

.submission{
    color:white;
    position: relative;
    left: 75.5%;
    top:-210px;
    text-align: left;
    align-items: center;
    list-style: none;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.submission h10{
    font-size: 16px;
}
.submission a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    position: relative;
    top:5px;

    z-index: 1;

}
.submission li{
    cursor:pointer;
    width:fit-content;
}
.submission li a{
    transform: color 0.3s ease;
    cursor: pointer;
    color: gray;
    font-size: 12px;
    z-index:2;
}
.submission li a:hover{
    color: white;
    transition: 0.3s;
}
.about{
    color:white;
    position: relative;
    left: 87.5%;
    top:-290px;
    text-align: left;
    align-items: center;
    list-style: none;
    overflow: hidden;
    z-index:1;
    cursor: pointer;
}
.about h10{
    font-size: 16px;
}
.about a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    position: relative;
    top:5px;
    z-index: 1;
}
.about li{
    width:fit-content;
    cursor: pointer;
}
.about li a{
    transform: color 0.3s ease;
    color:gray;
    font-size: 12px;
    z-index:2;
}
.about li a:hover{
    color: white;
    transition: 0.3s;
}

nav .fa-solid{
    display: none;
}
.bottom-footer{
    top:280px;
}
/*---Phone---*/
@media (min-width: 300px) and (max-width: 400px){
    .header{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .nav-links ul li{
        display: block; 
        left: -20px; 
        top: -10px;

    }
    .nav-links ul li:hover:after{
        display: none;
    }
    .nav-links{
        position: absolute;
        height: 105vh;
        opacity: 0%;
        width: 100%;
        left: 0px;
        top:-10px;
        text-align: center;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 12px;
        font-family: 'Nexa';
        z-index:2;
        font-weight: 700;
        transition: 0.5s
    }
    nav .fa-solid.fa-bars{
        display: block;
        z-index: 3;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 20px;
        right: 5px;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav .fa-solid.fa-xmark{
        display: block;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 6.7%;
        left: 20%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    .nav-links li a{
        position: relative;
        top:200px;
        left:5%;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 25px;
        left: 30%;
    }
    .title{
        font-size: 25px;
        width: 90%;
        text-align: center;
        position: absolute;
        left: 5%;
        top: 39%;
    }
    .title p{ 
        position: relative;
        font-size: 12px;
        top: 20px;
    }
    .body{
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .body::-webkit-scrollbar{
        display: none;
    }
    .intro{
        color: #e5eeff;
        z-index: 12;
    }
    .intro p1{
        text-align: left;
        width: 80%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p2{
        text-align: left;
        width: 80%;
        top: 13%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p4{
        text-align: left;
        width: 80%;
        top: 37%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p5{
        text-align: left;
        width: 80%;
        top: 65%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p7{
        text-align: left;
        width: 80%;
        top: 84%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;


    }
    .intro p8{
        text-align: left;
        width: 80%;
        top: 108%;
        left: 10%;
        font-size: 13px;
        position: absolute;
    }
    .intro p8 a{
        font-size: 13px;
        cursor: pointer;
        text-decoration: none;
        overflow-x: hidden;
        list-style: none;
        color:rgb(0, 162, 255);
    
    }
    .body .image{
        position: absolute;
        left:10%;
        top:34%;
        width: 80%;
        height: 50%;
    }
    .body .image img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }
    .body .image2{
        position: absolute;
        left:10%;
        top:78%;
        width: 80%;
        height: 50%;
        z-index: 22;
    }
    .body .image2 img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }


    .footer{
        width: 100%;
        top: 400px;
        overflow: hidden;
    }
    .footer .imagexr{
        height: 30px;
        top:-5px;
        width: 60px;
    }
    .footer .text-box7{
        top:-29px;
        left: 120px;
        width: 60%;
        line-height:12px;
        
    }
    .footer .text-box7 h7{
        font-size: 11px;

    }
    .email-box{
        display: none;
    }
    .footer .contact{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -50px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .contact li a{
        display: none;
    }
    .footer .contact h9 a{
        left: 46%;
        top:0;
        position: relative;
        font-size: 14px;
    }
    .footer .sections{
        cursor: pointer;
        border: 1px solid rgb(76,76,76);
        height: 18px;
        position: relative;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px);
        width: 89%;
        left: 19px;
        border-radius: 4px;
        font-size: 12px;
        top:0px;
        overflow-x: hidden;
    }
    .footer .sections h10 a{
        left: 44%;
        position: relative;
        font-size: 14px;
        top:0;
    }
    .footer .sections li a {
        display: none;
    }
    .footer .submission{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -10px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .submission h11 a{
        left: 41%;
        font-size: 14px;
        position: relative;
        top:0;
    }
    .footer .submission li a{
        display: none;
    }
    .footer .about{
        left: 17px;
        top: 0px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        width: 89%;
        border-radius: 4px;
        font-size: 15.5px;
        backdrop-filter: blur(12px);
        background:rgba(255,255,255,0.1);
        overflow-x: hidden;
    }
    .footer .about h11 a{
        font-size: 14px;
        position: relative;
        left: 45%;
        top: 0;
    }
    .footer .about li a{
        display: none;
    }
    .media{
        position:absolute;
        top:210px;
        left:-70px;
    }
    .bottom-footer{
        top:200px;
    }
    .intro p1, .intro p2,.intro p3, .intro p4, .intro p5,  .intro p6, .intro p7, .intro p8{
        overflow-y: hidden;
    }
}

@media (min-width: 401px) and (max-width: 500px){
    .header{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .nav-links ul li{
        display: block; 
        left: -20px; 
        top: -10px;

    }
    .nav-links ul li:hover:after{
        display: none;
    }
    .nav-links{
        position: absolute;
        height: 105vh;
        opacity: 0%;
        width: 100%;
        left: 0px;
        top:-10px;
        text-align: center;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 12px;
        font-family: 'Nexa';
        z-index:2;
        font-weight: 700;
        transition: 0.5s
    }
    nav .fa-solid.fa-bars{
        display: block;
        z-index: 3;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 20px;
        right: 5px;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav .fa-solid.fa-xmark{
        display: block;
        font-size: 25px;
        margin: 10px;
        position: absolute;
        top: 7%;
        left: 70%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    .nav-links li a{
        position: relative;
        top:200px;
        left:5%;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 25px;
        left: 30%;
    }
    .title{
        font-size: 25px;
        width: 90%;
        text-align: center;
        position: absolute;
        left: 5%;
        top: 39%;
    }
    .title p{ 
        position: relative;
        font-size: 12px;
        top: 20px;
    }
    .body{
        width: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .body::-webkit-scrollbar{
        display: none;
    }
    .intro{
        color: #e5eeff;
        z-index: 12;
    }
    .intro p1{
        text-align: left;
        width: 80%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p2{
        text-align: left;
        width: 80%;
        top: 11%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p4{
        text-align: left;
        width: 80%;
        top: 30%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p5{
        text-align: left;
        width: 80%;
        top: 55%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p7{
        text-align: left;
        width: 80%;
        top: 70%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;


    }
    .intro p8{
        text-align: left;
        width: 80%;
        top: 94%;
        left: 10%;
        font-size: 13px;
        position: absolute;
    }
    .intro p8 a{
        font-size: 13px;
        cursor: pointer;
        text-decoration: none;
        overflow-x: hidden;
        list-style: none;
        color:rgb(0, 162, 255);
    
    }
    .body .image{
        position: absolute;
        left:10%;
        top:24%;
        width: 80%;
        height: 50%;
    }
    .body .image img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }
    .body .image2{
        position: absolute;
        left:10%;
        top:63%;
        width: 80%;
        height: 50%;
        z-index: 22;
    }
    .body .image2 img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }


    .footer{
        width: 100%;
        top: 200px;
        overflow: hidden;
    }
    .footer .imagexr{
        height: 30px;
        top:-5px;
        width: 60px;
    }
    .footer .text-box7{
        top:-20px;
        left: 120px;
        width: 50%;
        line-height:12px;
        
    }
    .footer .text-box7 h7{
        font-size: 11px;

    }
    .email-box{
        display: none;
    }
    .footer .contact{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -50px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .contact li a{
        display: none;
    }
    .footer .contact h9 a{
        left: 46%;
        top:0;
        position: relative;
        font-size: 14px;
    }
    .footer .sections{
        cursor: pointer;
        border: 1px solid rgb(76,76,76);
        height: 18px;
        position: relative;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px);
        width: 89%;
        left: 19px;
        border-radius: 4px;
        font-size: 12px;
        top:0px;
        overflow-x: hidden;
    }
    .footer .sections h10 a{
        left: 44%;
        position: relative;
        font-size: 14px;
        top:0;
    }
    .footer .sections li a {
        display: none;
    }
    .footer .submission{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -10px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .submission h11 a{
        left: 41%;
        font-size: 14px;
        position: relative;
        top:0;
    }
    .footer .submission li a{
        display: none;
    }
    .footer .about{
        left: 17px;
        top: 0px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        width: 89%;
        border-radius: 4px;
        font-size: 15.5px;
        backdrop-filter: blur(12px);
        background:rgba(255,255,255,0.1);
        overflow-x: hidden;
    }
    .footer .about h11 a{
        font-size: 14px;
        position: relative;
        left: 45%;
        top: 0;
    }
    .footer .about li a{
        display: none;
    }
    .media{
        position:absolute;
        top:210px;
        left:-70px;
    }
    .bottom-footer{
        top:200px;
    }
    .intro p1, .intro p2,.intro p3, .intro p4, .intro p5,  .intro p6, .intro p7, .intro p8{
        overflow-y: hidden;
    }
}


@media (min-width: 501px) and (max-width: 600px){
    .header{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .nav-links ul li{
        display: block; 
        left: -20px; 
        top: -10px;

    }
    .nav-links ul li:hover:after{
        display: none;
    }
    .nav-links{
        position: absolute;
        height: 105vh;
        opacity: 0%;
        width: 100%;
        left: 0px;
        top:-10px;
        text-align: center;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 12px;
        font-family: 'Nexa';
        z-index:2;
        font-weight: 700;
        transition: 0.5s
    }
    nav .fa-solid.fa-bars{
        display: block;
        z-index: 3;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 20px;
        right: 5px;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav .fa-solid.fa-xmark{
        display: block;
        font-size: 25px;
        margin: 10px;
        position: absolute;
        top: 7%;
        left: 70%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    .nav-links li a{
        position: relative;
        top:200px;
        left:5%;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 25px;
        left: 30%;
    }
    .title{
        font-size: 25px;
        width: 70%;
        text-align: center;
        position: absolute;
        left: 15%;
        top: 39%;
    }
    .title p{ 
        position: relative;
        font-size: 12px;
        top: 20px;
    }
    .body{
        width: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .body::-webkit-scrollbar{
        display: none;
    }
    .intro{
        color: #e5eeff;
        z-index: 12;
    }
    .intro p1{
        text-align: left;
        width: 80%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p2{
        text-align: left;
        width: 80%;
        top: 9%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p4{
        text-align: left;
        width: 80%;
        top: 25%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p5{
        text-align: left;
        width: 80%;
        top: 48%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p7{
        text-align: left;
        width: 80%;
        top: 60%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;


    }
    .intro p8{
        text-align: left;
        width: 80%;
        top: 82%;
        left: 10%;
        font-size: 13px;
        position: absolute;
    }
    .intro p8 a{
        font-size: 13px;
        cursor: pointer;
        text-decoration: none;
        overflow-x: hidden;
        list-style: none;
        color:rgb(0, 162, 255);
    
    }
    .body .image{
        position: absolute;
        left:10%;
        top:17%;
        width: 80%;
        height: 50%;
    }
    .body .image img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }
    .body .image2{
        position: absolute;
        left:10%;
        top:52%;
        width: 80%;
        height: 50%;
        z-index: 22;
    }
    .body .image2 img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }


    .footer{
        width: 100%;
        top: 0px;
        overflow: hidden;
    }
    .footer .imagexr{
        height: 30px;
        top:-5px;
        width: 60px;
    }
    .footer .text-box7{
        top:-20px;
        left: 120px;
        width: 50%;
        line-height:12px;
        
    }
    .footer .text-box7 h7{
        font-size: 11px;

    }
    .email-box{
        display: none;
    }
    .footer .contact{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -50px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .contact li a{
        display: none;
    }
    .footer .contact h9 a{
        left: 46%;
        top:0;
        position: relative;
        font-size: 14px;
    }
    .footer .sections{
        cursor: pointer;
        border: 1px solid rgb(76,76,76);
        height: 18px;
        position: relative;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px);
        width: 89%;
        left: 19px;
        border-radius: 4px;
        font-size: 12px;
        top:0px;
        overflow-x: hidden;
    }
    .footer .sections h10 a{
        left: 44%;
        position: relative;
        font-size: 14px;
        top:0;
    }
    .footer .sections li a {
        display: none;
    }
    .footer .submission{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -10px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .submission h11 a{
        left: 41%;
        font-size: 14px;
        position: relative;
        top:0;
    }
    .footer .submission li a{
        display: none;
    }
    .footer .about{
        left: 17px;
        top: 0px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        width: 89%;
        border-radius: 4px;
        font-size: 15.5px;
        backdrop-filter: blur(12px);
        background:rgba(255,255,255,0.1);
        overflow-x: hidden;
    }
    .footer .about h11 a{
        font-size: 14px;
        position: relative;
        left: 45%;
        top: 0;
    }
    .footer .about li a{
        display: none;
    }
    .media{
        position:absolute;
        top:210px;
        left:-70px;
    }
    .bottom-footer{
        top:200px;
    }
    .intro p1, .intro p2,.intro p3, .intro p4, .intro p5,  .intro p6, .intro p7, .intro p8{
        overflow-y: hidden;
    }
}


@media (min-width: 601px) and (max-width: 700px){
    .header{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .nav-links ul li{
        display: block; 
        left: -20px; 
        top: -10px;

    }
    .nav-links ul li:hover:after{
        display: none;
    }
    .nav-links{
        position: absolute;
        height: 105vh;
        opacity: 0%;
        width: 100%;
        left: 0px;
        top:-10px;
        text-align: center;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 12px;
        font-family: 'Nexa';
        z-index:2;
        font-weight: 700;
        transition: 0.5s
    }
    nav .fa-solid.fa-bars{
        display: block;
        z-index: 3;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 20px;
        right: 5px;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav .fa-solid.fa-xmark{
        display: block;
        font-size: 25px;
        margin: 10px;
        position: absolute;
        top: 7%;
        left: 70%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    .nav-links li a{
        position: relative;
        top:200px;
        left:5%;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 25px;
        left: 30%;
    }
    .title{
        font-size: 30px;
        width: 60%;
        text-align: center;
        position: absolute;
        left: 20%;
        top: 39%;
    }
    .title p{ 
        position: relative;
        font-size: 13px;
        top: 20px;
    }
    .body{
        width: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .body::-webkit-scrollbar{
        display: none;
    }
    .intro{
        color: #e5eeff;
        z-index: 12;
    }
    .intro p1{
        text-align: left;
        width: 80%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p2{
        text-align: left;
        width: 80%;
        top: 8%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p4{
        text-align: left;
        width: 80%;
        top: 21%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p5{
        text-align: left;
        width: 80%;
        top: 42%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p7{
        text-align: left;
        width: 80%;
        top: 53%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;


    }
    .intro p8{
        text-align: left;
        width: 80%;
        top: 73%;
        left: 10%;
        font-size: 13px;
        position: absolute;
    }
    .intro p8 a{
        font-size: 13px;
        cursor: pointer;
        text-decoration: none;
        overflow-x: hidden;
        list-style: none;
        color:rgb(0, 162, 255);
    
    }
    .body .image{
        position: absolute;
        left:10%;
        top:12%;
        width: 80%;
        height: 50%;
    }
    .body .image img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }
    .body .image2{
        position: absolute;
        left:10%;
        top:43%;
        width: 80%;
        height: 50%;
        z-index: 22;
    }
    .body .image2 img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }


    .footer{
        width: 100%;
        top: 0px;
        overflow: hidden;
    }
    .footer .imagexr{
        height: 30px;
        top:-5px;
        width: 60px;
    }
    .footer .text-box7{
        top:-20px;
        left: 130px;
        width: 50%;
        line-height:12px;
        
    }
    .footer .text-box7 h7{
        font-size: 11px;

    }
    .email-box{
        display: none;
    }
    .footer .contact{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -50px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .contact li a{
        display: none;
    }
    .footer .contact h9 a{
        left: 46%;
        top:0;
        position: relative;
        font-size: 14px;
    }
    .footer .sections{
        cursor: pointer;
        border: 1px solid rgb(76,76,76);
        height: 18px;
        position: relative;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px);
        width: 89%;
        left: 19px;
        border-radius: 4px;
        font-size: 12px;
        top:0px;
        overflow-x: hidden;
    }
    .footer .sections h10 a{
        left: 44%;
        position: relative;
        font-size: 14px;
        top:0;
    }
    .footer .sections li a {
        display: none;
    }
    .footer .submission{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -10px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .submission h11 a{
        left: 41%;
        font-size: 14px;
        position: relative;
        top:0;
    }
    .footer .submission li a{
        display: none;
    }
    .footer .about{
        left: 17px;
        top: 0px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        width: 89%;
        border-radius: 4px;
        font-size: 15.5px;
        backdrop-filter: blur(12px);
        background:rgba(255,255,255,0.1);
        overflow-x: hidden;
    }
    .footer .about h11 a{
        font-size: 14px;
        position: relative;
        left: 45%;
        top: 0;
    }
    .footer .about li a{
        display: none;
    }
    .media{
        position:absolute;
        top:210px;
        left:-70px;
    }
    .bottom-footer{
        top:200px;
    }
    .intro p1, .intro p2,.intro p3, .intro p4, .intro p5,  .intro p6, .intro p7, .intro p8{
        overflow-y: hidden;
    }
}

@media (min-width: 701px) and (max-width: 768px){
    .header{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .nav-links ul li{
        display: block; 
        left: -20px; 
        top: -10px;

    }
    .nav-links ul li:hover:after{
        display: none;
    }
    .nav-links{
        position: absolute;
        height: 105vh;
        opacity: 0%;
        width: 100%;
        left: 0px;
        top:-10px;
        text-align: center;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 12px;
        font-family: 'Nexa';
        z-index:2;
        font-weight: 700;
        transition: 0.5s
    }
    nav .fa-solid.fa-bars{
        display: block;
        z-index: 3;
        font-size: 25px;
        margin: 10px;
        position: relative;
        top: 20px;
        right: 5px;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    nav .fa-solid.fa-xmark{
        display: block;
        font-size: 25px;
        margin: 10px;
        position: absolute;
        top: 7%;
        left: 70%;
        color:white;
        cursor: pointer;
        z-index: 2;
    }
    .nav-links li a{
        position: relative;
        top:200px;
        left:5%;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 25px;
        left: 30%;
    }
    .title{
        font-size: 30px;
        width: 60%;
        text-align: center;
        position: absolute;
        left: 20%;
        top: 39%;
    }
    .title p{ 
        position: relative;
        font-size: 13px;
        top: 20px;
    }
    .body{
        width: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .body::-webkit-scrollbar{
        display: none;
    }
    .intro{
        color: #e5eeff;
        z-index: 12;
    }
    .intro p1{
        text-align: left;
        width: 80%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p2{
        text-align: left;
        width: 80%;
        top: 7%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p4{
        text-align: left;
        width: 80%;
        top: 18%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p5{
        text-align: left;
        width: 80%;
        top: 38%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p7{
        text-align: left;
        width: 80%;
        top: 47%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;


    }
    .intro p8{
        text-align: left;
        width: 80%;
        top: 66%;
        left: 10%;
        font-size: 13px;
        position: absolute;
    }
    .intro p8 a{
        font-size: 13px;
        cursor: pointer;
        text-decoration: none;
        overflow-x: hidden;
        list-style: none;
        color:rgb(0, 162, 255);
    
    }
    .body .image{
        position: absolute;
        left:10%;
        top:8%;
        width: 80%;
        height: 50%;
    }
    .body .image img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }
    .body .image2{
        position: absolute;
        left:10%;
        top:36%;
        width: 80%;
        height: 50%;
        z-index: 22;
    }
    .body .image2 img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }


    .footer{
        width: 100%;
        top: 0px;
        overflow: hidden;
    }
    .footer .imagexr{
        height: 30px;
        top:-5px;
        width: 60px;
    }
    .footer .text-box7{
        top:-20px;
        left: 135px;
        width: 40%;
        line-height:12px;
        
    }
    .footer .text-box7 h7{
        font-size: 11px;

    }
    .email-box{
        display: none;
    }
    .footer .contact{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -50px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .contact li a{
        display: none;
    }
    .footer .contact h9 a{
        left: 46%;
        top:0;
        position: relative;
        font-size: 14px;
    }
    .footer .sections{
        cursor: pointer;
        border: 1px solid rgb(76,76,76);
        height: 18px;
        position: relative;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px);
        width: 89%;
        left: 19px;
        border-radius: 4px;
        font-size: 12px;
        top:0px;
        overflow-x: hidden;
    }
    .footer .sections h10 a{
        left: 44%;
        position: relative;
        font-size: 14px;
        top:0;
    }
    .footer .sections li a {
        display: none;
    }
    .footer .submission{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -10px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .submission h11 a{
        left: 41%;
        font-size: 14px;
        position: relative;
        top:0;
    }
    .footer .submission li a{
        display: none;
    }
    .footer .about{
        left: 17px;
        top: 0px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        width: 89%;
        border-radius: 4px;
        font-size: 15.5px;
        backdrop-filter: blur(12px);
        background:rgba(255,255,255,0.1);
        overflow-x: hidden;
    }
    .footer .about h11 a{
        font-size: 14px;
        position: relative;
        left: 45%;
        top: 0;
    }
    .footer .about li a{
        display: none;
    }
    .media{
        position:absolute;
        top:210px;
        left:-70px;
    }
    .bottom-footer{
        top:200px;
    }
    .intro p1, .intro p2,.intro p3, .intro p4, .intro p5,  .intro p6, .intro p7, .intro p8{
        overflow-y: hidden;
    }
}
@media (min-width: 769px) and (max-width: 900px){
    nav .fa-solid.fa-bars{
        display:none;
    }
    nav .fa-solid.fa-xmark{
        display: none;
    }
    .header{
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
    nav .nav-links{
        display: block;
        left: 50%;
        top: 50px;
    }
    nav .nav-links li a{
        font-size: 12px;
    }
    nav img{
        height: 30px;
        width: 60px;
        position: relative;
        top: 25px;
        left: 40%;
    }
    .title{
        font-size: 30px;
        width: 60%;
        text-align: center;
        position: absolute;
        left: 20%;
        top: 39%;
    }
    .title p{ 
        position: relative;
        font-size: 13px;
        top: 20px;
    }
    .body{
        width: 100%;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .body::-webkit-scrollbar{
        display: none;
    }
    .intro{
        color: #e5eeff;
        z-index: 12;
    }
    .intro p1{
        text-align: left;
        width: 80%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p2{
        text-align: left;
        width: 80%;
        top: 7%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p4{
        text-align: left;
        width: 80%;
        top: 18%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    .intro p5{
        text-align: left;
        width: 80%;
        top: 38%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;
    }
    
    .intro p7{
        text-align: left;
        width: 80%;
        top: 47%;
        left: 10%;
        text-align: justify;
        font-size: 13px;
        position: absolute;


    }
    .intro p8{
        text-align: left;
        width: 80%;
        top: 66%;
        left: 10%;
        font-size: 13px;
        position: absolute;
    }
    .intro p8 a{
        font-size: 13px;
        cursor: pointer;
        text-decoration: none;
        overflow-x: hidden;
        list-style: none;
        color:rgb(0, 162, 255);
    
    }
    .body .image{
        position: absolute;
        left:10%;
        top:8%;
        width: 80%;
        height: 50%;
    }
    .body .image img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }
    .body .image2{
        position: absolute;
        left:10%;
        top:36%;
        width: 80%;
        height: 50%;
        z-index: 22;
    }
    .body .image2 img{
        z-index: 111;
        position: relative;
        top: 35%;
        left:0%;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.13);
        height: 20%;
        border-radius: 10px;
        object-fit: cover;
    }


    .footer{
        width: 100%;
        top: 0px;
        overflow: hidden;
    }
    .footer .imagexr{
        height: 30px;
        top:-5px;
        width: 60px;
    }
    .footer .text-box7{
        top:-20px;
        left: 145px;
        width: 30%;
        line-height:12px;
        
    }
    .footer .text-box7 h7{
        font-size: 11px;
    }
    .email-box{
        display: none;
    }
    .footer .contact{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -50px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .contact li a{
        display: none;
    }
    .footer .contact h9 a{
        left: 46%;
        top:0;
        position: relative;
        font-size: 14px;
    }
    .footer .sections{
        cursor: pointer;
        border: 1px solid rgb(76,76,76);
        height: 18px;
        position: relative;
        background: rgba(255,255,255,0.1);
        backdrop-filter: blur(12px);
        width: 89%;
        left: 19px;
        border-radius: 4px;
        font-size: 12px;
        top:0px;
        overflow-x: hidden;
    }
    .footer .sections h10 a{
        left: 44%;
        position: relative;
        font-size: 14px;
        top:0;
    }
    .footer .sections li a {
        display: none;
    }
    .footer .submission{
        left: 18px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        backdrop-filter: blur(12px);
        background: rgba(255,255,255,0.1);
        width: 89%;
        border-radius: 4px;
        top: -10px;
        font-size: 15.5px;
        overflow-x: hidden;
    }
    .footer .submission h11 a{
        left: 41%;
        font-size: 14px;
        position: relative;
        top:0;
    }
    .footer .submission li a{
        display: none;
    }
    .footer .about{
        left: 17px;
        top: 0px;
        cursor: pointer;
        border:1px solid rgb(76,76,76);
        height: 18px;
        width: 89%;
        border-radius: 4px;
        font-size: 15.5px;
        backdrop-filter: blur(12px);
        background:rgba(255,255,255,0.1);
        overflow-x: hidden;
    }
    .footer .about h11 a{
        font-size: 14px;
        position: relative;
        left: 45%;
        top: 0;
    }
    .footer .about li a{
        display: none;
    }
    .media{
        position:absolute;
        top:210px;
        left:-70px;
    }
    .bottom-footer{
        top:200px;
    }
    .intro p1, .intro p2,.intro p3, .intro p4, .intro p5,  .intro p6, .intro p7, .intro p8{
        overflow-y: hidden;
    }
}